%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%% -nocookie\n"}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.

{deps, [
        {lager, "1.0.0", {git, "git://github.com/basho/lager", {tag, "1.0.0"}}},
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt", {tag, "v0.4"}}}
       ]}.

{escript_incl_apps, [lager]}.
